# Dependencies
node_modules/

# Playwright
playwright-report/
playwright/.cache/
test-results/
.playwright/

# Allure
allure-results/
allure-report/

# playwright-bdd genererte filer
.features-gen/

# TypeScript
*.tsbuildinfo
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*.session.sql

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
