apiVersion: apps/v1
kind: Deployment
metadata:
  name: $CI_ENVIRONMENT_SLUG
  namespace: $KUBE_NAMESPACE
  labels:
    name: $CI_ENVIRONMENT_SLUG
    app: $CI_ENVIRONMENT_SLUG
spec:
  replicas: $REPLICAS
  selector:
    matchLabels:
      name: $CI_ENVIRONMENT_SLUG
      app: $CI_ENVIRONMENT_SLUG
  template:
    metadata:
      labels:
        name: $CI_ENVIRONMENT_SLUG
        app: $CI_ENVIRONMENT_SLUG
    spec:
      containers:
      - name: app
        image: $CI_REGISTRY_IMAGE:$CI_REGISTRY_TAG
        ports:
        - name: http
          containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 15
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 5
          timeoutSeconds: 3
        resources:
          requests:
            memory: 50Mi
          limits:
            memory: 75Mi
